In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import DecimalType

# Creating a SparkSession
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

In [2]:
df = spark.read.parquet('rail_data_cleaned_20230728132300.parquet')
df.limit(5).show()

+---------------+---------+------------------+-------------+--------------+-----------------+--------------------+----------------------+--------------------+----------------------+----+--------+------------+-------------------+---------------------+------------------+--------------------+-----------------+
|       route_id|unique_id|service_start_date|update_origin|train_platform|working_time_pass|working_time_arrival|working_time_departure|planned_time_arrival|planned_time_departure|pass|platform|train_length|actual_arrival_time|actual_departure_time|is_delayed_arrival|is_delayed_departure|__index_level_0__|
+---------------+---------+------------------+-------------+--------------+-----------------+--------------------+----------------------+--------------------+----------------------+----+--------+------------+-------------------+---------------------+------------------+--------------------+-----------------+
|202307277679020|   L79020|        2023-07-27|       Darwin|          STFD|             NULL| 2023-07-27 00:03:00|   2023-07-27 00:03:30|                NULL|                  NULL|NULL|       5|        NULL|2023-07-27 00:53:00|  2023-07-27 00:53:00|              true|                true|                8|
|202307277679020|   L79020|        2023-07-27|       Darwin|       SPNY205|             NULL| 2023-07-27 00:07:00|   2023-07-27 00:13:30|                NULL|                  NULL|NULL|    NULL|        NULL|2023-07-27 00:57:00|  2023-07-27 00:58:00|              true|                true|               10|
|202307277679020|   L79020|        2023-07-27|       Darwin|        PADTLL|             NULL| 2023-07-27 00:30:30|   2023-07-27 00:31:00|                NULL|                  NULL|NULL|       B|        NULL|2023-07-27 01:07:00|  2023-07-27 01:07:00|              true|                true|               16|
|202307277679020|   L79020|        2023-07-27|       Darwin|       WBRNPKS|             NULL| 2023-07-27 00:33:00|   2023-07-27 00:35:00|                NULL|                  NULL|NULL|       A|        NULL|2023-07-27 01:09:00|  2023-07-27 01:10:00|              true|                true|               17|
|202307277674553|   L74553|        2023-07-27|           TD|       SVNOAKS|             NULL| 2023-07-27 21:53:00|   2023-07-27 21:54:30| 2023-07-27 21:53:00|   2023-07-27 21:54:00|NULL|       1|           8|               NULL|                 NULL|             false|               false|               22|
+---------------+---------+------------------+-------------+--------------+-----------------+--------------------+----------------------+--------------------+----------------------+----+--------+------------+-------------------+---------------------+------------------+--------------------+-----------------+

In [3]:
pandas_df = df.toPandas()
pandas_df

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,pass,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure,__index_level_0__
0,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,NaN,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True,8
1,202307277679020,L79020,2023-07-27,Darwin,SPNY205,NaT,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,NaN,None,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True,10
2,202307277679020,L79020,2023-07-27,Darwin,PADTLL,NaT,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,NaN,B,None,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True,16
3,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,NaT,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,NaN,A,None,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True,17
4,202307277674553,L74553,2023-07-27,TD,SVNOAKS,NaT,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,NaN,1,8,NaT,NaT,False,False,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37095,202307278055183,P55183,2023-07-27,Darwin,BRADIN,NaT,2023-07-27 17:30:30,2023-07-27 17:33:30,2023-07-27 17:31:00,2023-07-27 17:33:00,NaN,4,None,2023-07-27 18:07:00,2023-07-27 18:08:00,True,True,94233
37096,202307278055183,P55183,2023-07-27,Darwin,HLFX,NaT,2023-07-27 17:44:00,2023-07-27 17:45:00,2023-07-27 17:44:00,2023-07-27 17:45:00,NaN,1,None,2023-07-27 18:18:00,2023-07-27 18:19:00,True,True,94235
37097,202307278055183,P55183,2023-07-27,Darwin,HBDNBDG,NaT,2023-07-27 17:58:30,2023-07-27 18:01:30,2023-07-27 17:59:00,2023-07-27 18:01:00,NaN,1,None,2023-07-27 18:29:00,2023-07-27 18:30:00,True,True,94238
37098,202307278055183,P55183,2023-07-27,Darwin,TODMRDN,NaT,2023-07-27 18:08:30,2023-07-27 18:09:30,2023-07-27 18:09:00,2023-07-27 18:09:00,NaN,1,None,2023-07-27 18:35:00,2023-07-27 18:35:00,True,True,94240
37099,202307278055183,P55183,2023-07-27,Darwin,RCHDALE,NaT,2023-07-27 18:18:30,2023-07-27 18:19:30,2023-07-27 18:19:00,2023-07-27 18:19:00,NaN,3,None,2023-07-27 18:44:00,2023-07-27 18:45:00,True,True,94243

In [20]:
# print rows with respective datatypes
df.printSchema()

root
 |-- route_id: string (nullable = true)
 |-- unique_id: string (nullable = true)
 |-- service_start_date: string (nullable = true)
 |-- update_origin: string (nullable = true)
 |-- train_platform: string (nullable = true)
 |-- working_time_pass: timestamp_ntz (nullable = true)
 |-- working_time_arrival: timestamp_ntz (nullable = true)
 |-- working_time_departure: timestamp_ntz (nullable = true)
 |-- planned_time_arrival: timestamp_ntz (nullable = true)
 |-- planned_time_departure: timestamp_ntz (nullable = true)
 |-- pass: integer (nullable = true)
 |-- platform: string (nullable = true)
 |-- train_length: string (nullable = true)
 |-- actual_arrival_time: timestamp_ntz (nullable = true)
 |-- actual_departure_time: timestamp_ntz (nullable = true)
 |-- is_delayed_arrival: boolean (nullable = true)
 |-- is_delayed_departure: boolean (nullable = true)
 |-- __index_level_0__: long (nullable = true)

In [21]:
df.limit(5).show()

+---------------+---------+------------------+-------------+--------------+-----------------+--------------------+----------------------+--------------------+----------------------+----+--------+------------+-------------------+---------------------+------------------+--------------------+-----------------+
|       route_id|unique_id|service_start_date|update_origin|train_platform|working_time_pass|working_time_arrival|working_time_departure|planned_time_arrival|planned_time_departure|pass|platform|train_length|actual_arrival_time|actual_departure_time|is_delayed_arrival|is_delayed_departure|__index_level_0__|
+---------------+---------+------------------+-------------+--------------+-----------------+--------------------+----------------------+--------------------+----------------------+----+--------+------------+-------------------+---------------------+------------------+--------------------+-----------------+
|202307277674553|   L74553|        2023-07-27|           TD|       SVNOAKS|             NULL| 2023-07-27 21:53:00|   2023-07-27 21:54:30| 2023-07-27 21:53:00|   2023-07-27 21:54:00|NULL|       1|           8|               NULL|                 NULL|             false|               false|               22|
|202307277679633|   L79633|        2023-07-27|           TD|          STFD|             NULL| 2023-07-27 19:42:30|   2023-07-27 19:43:30| 2023-07-27 19:43:00|   2023-07-27 19:43:00|NULL|       8|        NULL|2023-07-27 19:43:00|  2023-07-27 19:44:00|             false|               false|               25|
|202307277679633|   L79633|        2023-07-27|           TD|       MRYLAND|             NULL| 2023-07-27 19:45:00|   2023-07-27 19:45:30| 2023-07-27 19:45:00|   2023-07-27 19:45:00|NULL|       2|        NULL|2023-07-27 19:45:00|  2023-07-27 19:46:00|             false|               false|               26|
|202307277679633|   L79633|        2023-07-27|           TD|        FRSTGT|             NULL| 2023-07-27 19:47:00|   2023-07-27 19:47:30| 2023-07-27 19:47:00|   2023-07-27 19:47:00|NULL|       2|        NULL|2023-07-27 19:47:00|  2023-07-27 19:48:00|             false|               false|               27|
|202307277679633|   L79633|        2023-07-27|           TD|        MANRPK|             NULL| 2023-07-27 19:49:30|   2023-07-27 19:50:00| 2023-07-27 19:50:00|   2023-07-27 19:50:00|NULL|       2|        NULL|2023-07-27 19:50:00|  2023-07-27 19:50:00|             false|               false|               29|
+---------------+---------+------------------+-------------+--------------+-----------------+--------------------+----------------------+--------------------+----------------------+----+--------+------------+-------------------+---------------------+------------------+--------------------+-----------------+

In [8]:
# find duplicate rows
df.groupBy(df.columns)\
    .count()\
    .where(F.col('count') > 1)\
    .select(F.sum('count'))\
    .show()

+----------+
|sum(count)|
+----------+
|      NULL|
+----------+

In [25]:
Dict_Null = {col:df.filter(df[col].isNull()).count() for col in df.columns}
Dict_Null

{'route_id': 0,
 'unique_id': 0,
 'service_start_date': 0,
 'update_origin': 0,
 'train_platform': 0,
 'working_time_pass': 33004,
 'working_time_arrival': 0,
 'working_time_departure': 0,
 'planned_time_arrival': 52,
 'planned_time_departure': 0,
 'pass': 33004,
 'platform': 1314,
 'train_length': 23403,
 'actual_arrival_time': 4890,
 'actual_departure_time': 2306,
 'is_delayed_arrival': 0,
 'is_delayed_departure': 0,
 '__index_level_0__': 0}

In [24]:
df = df.dropna(subset='planned_time_departure')
df = df.dropna(subset='update_origin')
df.count()

33004

In [23]:
# get list of categorical var cols
categorical_columns = [c for c in df.columns if df.select(c).dtypes[0][1] == 'string']

# do a value counts for each categorical var
for col_name in categorical_columns:
    print(f"Unique values in {col_name}:")
    df.groupBy(col_name).count().show()

Unique values in route_id:
+---------------+-----+
|       route_id|count|
+---------------+-----+
|202307278024592|   40|
|202307278023407|    2|
|202307287142024|    8|
|202307277684886|    4|
|202307277623421|    3|
|202307277159156|    1|
|202307278931917|    2|
|202307278932995|   10|
|202307277679446|    4|
|202307288076176|    8|
|202307288075928|   36|
|202307278027471|    5|
|202307287195442|    1|
|202307278070469|    5|
|202307277683900|    1|
|202307278929733|    1|
|202307277683740|    2|
|202307287159171|    1|
|202307277194734|    1|
|202307278929658|    1|
+---------------+-----+
only showing top 20 rows

Unique values in unique_id:
+---------+-----+
|unique_id|count|
+---------+-----+
|   L79822|   11|
|   G59266|    1|
|   P25443|    2|
|   P24503|    9|
|   C18264|   31|
|   C16587|    1|
|   P71715|    3|
|   L34352|    2|
|   L23434|    4|
|   G95492|   10|
|   L23565|    1|
|   Y31409|   21|
|   Y30069|    1|
|   P27235|    5|
|   G67331|    1|
|   Y55093|    1|
|   P75426|    3|
|   G81189|    1|
|   G70054|    1|
|   P76316|    4|
+---------+-----+
only showing top 20 rows

Unique values in service_start_date:
+------------------+-----+
|service_start_date|count|
+------------------+-----+
|        2023-07-27|18538|
|        2023-07-29|   56|
|        2023-07-28|14986|
+------------------+-----+

Unique values in update_origin:
+-------------+-----+
|update_origin|count|
+-------------+-----+
|         NULL|  576|
|           TD|10059|
|        Trust| 2052|
|       Darwin| 6547|
|  Workstation|   28|
|       Tyrell|  283|
|          CIS|14035|
+-------------+-----+

Unique values in train_platform:
+--------------+-----+
|train_platform|count|
+--------------+-----+
|       MRYLAND|   37|
|       MINFORD|    5|
|       SHENFLD|   37|
|       BRITHDR|    3|
|       HATHRSG|   10|
|       HEATHHL|    7|
|       TURKYST|   10|
|       CLFDOWN|    5|
|       RIDNGML|    4|
|       HOLTONH|    4|
|       NNRYSQU|    1|
|       WODBDGE|    2|
|          ELTR|   31|
|          GTHM|   28|
|       MCHYNLT|   12|
|          DLTN|   22|
|          SABR|   17|
|       MEOLSCP|    2|
|       SELLING|    4|
|       STNEOTS|   18|
+--------------+-----+
only showing top 20 rows

Unique values in platform:
+--------+-----+
|platform|count|
+--------+-----+
|      1L|    3|
|       7|  205|
|      1A|    7|
|      15|   27|
|     12A|    3|
|      11|   67|
|     10A|    7|
|       3| 2768|
|     16A|    2|
|     16B|    1|
|     FAL|    1|
|     BUS|   33|
|      8D|    3|
|      1C|    2|
|       8|  308|
|      3B|   29|
|      4B|   18|
|      7A|    6|
|      16|   29|
|     15B|    3|
+--------+-----+
only showing top 20 rows

Unique values in train_length:
+------------+-----+
|train_length|count|
+------------+-----+
|           7|   45|
|          11|    6|
|           3|  798|
|           8| 2629|
|        NULL|23969|
|           5| 1833|
|           6|  471|
|           9|    5|
|          10| 1069|
|           4| 1376|
|          12|  955|
|           2|  424|
+------------+-----+

In [28]:
# cast train length as int instead of str
df = df.withColumn('train_length', F.col('train_length').cast("int"))
df.printSchema()

root
 |-- route_id: string (nullable = true)
 |-- unique_id: string (nullable = true)
 |-- service_start_date: string (nullable = true)
 |-- update_origin: string (nullable = true)
 |-- train_platform: string (nullable = true)
 |-- working_time_pass: timestamp_ntz (nullable = true)
 |-- working_time_arrival: timestamp_ntz (nullable = true)
 |-- working_time_departure: timestamp_ntz (nullable = true)
 |-- planned_time_arrival: timestamp_ntz (nullable = true)
 |-- planned_time_departure: timestamp_ntz (nullable = true)
 |-- pass: integer (nullable = true)
 |-- platform: string (nullable = true)
 |-- train_length: integer (nullable = true)
 |-- actual_arrival_time: timestamp_ntz (nullable = true)
 |-- actual_departure_time: timestamp_ntz (nullable = true)
 |-- is_delayed_arrival: boolean (nullable = true)
 |-- is_delayed_departure: boolean (nullable = true)
 |-- __index_level_0__: long (nullable = true)

In [33]:
# import rail references and merge with api data
rail_ref = spark.read.csv('RailReferences.csv', header=True, inferSchema=True)
rail_ref.show()

+-----------+----------+-------+--------------------+---------------+--------+-------+--------+-------------------+--------------------+--------------+------------+
|   AtcoCode|TiplocCode|CrsCode|         StationName|StationNameLang|GridType|Easting|Northing|   CreationDateTime|ModificationDateTime|RevisionNumber|Modification|
+-----------+----------+-------+--------------------+---------------+--------+-------+--------+-------------------+--------------------+--------------+------------+
|9100PENZNCE|   PENZNCE|    PNZ|Penzance Rail Sta...|           NULL|       U| 147588|   30599|2003-11-04 00:00:00| 2011-09-30 14:47:28|             2|         rev|
| 9100STIVES|    STIVES|    SIV|St Ives (Cornwall...|           NULL|       U| 151947|   40127|2005-04-04 00:00:00| 2011-09-30 14:47:28|             4|         rev|
|9100CARBISB|   CARBISB|    CBB|Carbis Bay Rail S...|           NULL|       U| 152930|   38745|2003-11-04 00:00:00| 2011-09-30 14:47:28|             5|         rev|
| 9100STERTH|    STERTH|    SER|St Erth Rail Station|           NULL|       U| 154150|   35730|2003-11-04 00:00:00| 2007-02-13 17:06:21|             3|         rev|
|9100LELANTS|   LELANTS|    LTS|Lelant Saltings R...|           NULL|       U| 154430|   36640|2003-11-04 00:00:00| 2011-09-30 14:47:28|             2|         rev|
| 9100LELANT|    LELANT|    LEL| Lelant Rail Station|           NULL|       U| 154770|   37220|2003-11-04 00:00:00| 2007-02-13 17:06:21|             3|         rev|
|  9100HAYLE|     HAYLE|    HYL|  Hayle Rail Station|           NULL|       U| 155970|   37325|2003-11-04 00:00:00| 2011-09-30 14:47:28|             4|         rev|
| 9100CBORNE|    CBORNE|    CBN|Camborne Rail Sta...|           NULL|       U| 164830|   39696|2003-11-04 00:00:00| 2006-09-18 18:24:34|             2|         rev|
|9100ARISAIG|   ARISAIG|    ARG|Arisaig Rail Station|           NULL|       U| 166400|  786700|2003-11-04 00:00:00| 2006-09-18 18:24:34|             1|         rev|
|  9100MLAIG|     MLAIG|    MLG|Mallaig Rail Station|           NULL|       U| 167560|  797060|2005-04-04 00:00:00| 2006-09-18 18:24:34|             1|         rev|
|  9100MORAR|     MORAR|    MRR|  Morar Rail Station|           NULL|       U| 167800|  793000|2003-11-04 00:00:00| 2006-09-18 18:24:34|             1|         rev|
|9100REDRUTH|   REDRUTH|    RED|Redruth Rail Station|           NULL|       U| 170040|   42009|2003-11-04 00:00:00| 2007-02-13 17:06:21|             3|         rev|
|9100BEASDAL|   BEASDAL|    BSL|Beasdale Rail Sta...|           NULL|       U| 170900|  785000|2003-11-04 00:00:00| 2006-09-18 18:24:34|             1|         rev|
|9100KYLELSH|   KYLELSH|    KYL|Kyle of Lochalsh ...|           NULL|       U| 176247|  827123|2003-11-04 00:00:00| 2007-02-13 17:06:21|             3|         rev|
|9100LCHALRT|   LCHALRT|    LCL|Lochailort Rail S...|           NULL|       U| 176900|  782600|2003-11-04 00:00:00| 2006-09-18 18:24:34|             1|         rev|
|9100DUIRNSH|   DUIRNSH|    DRN|Duirinish Rail St...|           NULL|       U| 177845|  831521|2003-11-04 00:00:00| 2010-02-25 14:56:21|             2|         rev|
|   9100PRYN|      PRYN|    PYN| Penryn Rail Station|           NULL|       U| 177900|   34710|2005-04-04 00:00:00| 2011-09-30 14:47:28|             2|         rev|
|9100PERANWL|   PERANWL|    PRW|Perranwell Rail S...|           NULL|       U| 178080|   39810|2003-11-04 00:00:00| 2011-09-30 14:47:28|             2|         rev|
|9100PLOCKTN|   PLOCKTN|    PLK|Plockton Rail Sta...|           NULL|       U| 179450|  832950|2005-03-17 00:00:00| 2006-09-18 18:24:34|             1|         rev|
|9100PENMERE|   PENMERE|    PNM|Penmere Rail Station|           NULL|       U| 179835|   32360|2005-04-04 00:00:00| 2011-09-30 14:47:28|             2|         rev|
+-----------+----------+-------+--------------------+---------------+--------+-------+--------+-------------------+--------------------+--------------+------------+
only showing top 20 rows

In [47]:
merged_df = df.join(rail_ref,df['train_platform'] == rail_ref['TiplocCode'],how='left')
merged_df.count()

33004

In [46]:
merged_df.select(F.col('StationName')).show()

+--------------------+
|         StationName|
+--------------------+
|Sevenoaks Rail St...|
|Stratford (London...|
|Maryland Rail Sta...|
|Forest Gate Rail ...|
|Manor Park Rail S...|
| Ilford Rail Station|
|Seven Kings Rail ...|
|Goodmayes Rail St...|
|Chadwell Heath Ra...|
|Romford Rail Station|
|Gidea Park Rail S...|
|Harold Wood Rail ...|
|Brentwood Rail St...|
|Birmingham Moor S...|
|Solihull Rail Sta...|
|Dorridge Rail Sta...|
|Warwick Parkway R...|
|Warwick Rail Station|
|Leamington Spa Ra...|
|Banbury Rail Station|
+--------------------+
only showing top 20 rows

In [49]:
merged_df.describe().show()

+-------+--------------------+---------+------------------+-------------+--------------+----+------------------+------------------+------------------+-----------+----------+-------+--------------------+---------------+--------+------------------+------------------+------------------+------------+
|summary|            route_id|unique_id|service_start_date|update_origin|train_platform|pass|          platform|      train_length| __index_level_0__|   AtcoCode|TiplocCode|CrsCode|         StationName|StationNameLang|GridType|           Easting|          Northing|    RevisionNumber|Modification|
+-------+--------------------+---------+------------------+-------------+--------------+----+------------------+------------------+------------------+-----------+----------+-------+--------------------+---------------+--------+------------------+------------------+------------------+------------+
|  count|               33004|    33004|             33004|        33004|         33004|   0|             31690|              9601|             33004|      32089|     32089|  32089|               32089|              0|   32069|             32089|             32089|             32089|       32089|
|   mean|2.023072825157687...|     NULL|              NULL|         NULL|          NULL|NULL| 2.193913472610627| 6.698781376939902|46988.985123015394|       NULL|      NULL|    NaN|                NULL|           NULL|    NULL| 451340.9771572813| 269557.8954782013|1.6890834865530244|        NULL|
| stddev|   5046166.141399986|     NULL|              NULL|         NULL|          NULL|NULL|1.8140607517072902|2.8643803093286753|27245.477703830613|       NULL|      NULL|    NaN|                NULL|           NULL|    NULL|101383.33057769724|158830.49911151725| 0.821803545779193|        NULL|
|    min|     202307276700069|   C00066|        2023-07-27|          CIS|          ABDO|NULL|                 0|                 2|                22|   9100ABDO|      ABDO|    AAP|Abbey Wood (Londo...|           NULL|       U|            152930|             32085|                 0|         New|
|    max|     202307298826321|   Y55368|        2023-07-29|  Workstation|       YTRHOND|NULL|               TRU|                12|             94243|9100YTRHOND|   YTRHOND|    ZWL|Ystrad Rhondda Ra...|           NULL|       U|            652420|            904141|                 7|         rev|
+-------+--------------------+---------+------------------+-------------+--------------+----+------------------+------------------+------------------+-----------+----------+-------+--------------------+---------------+--------+------------------+------------------+------------------+------------+

In [50]:
merged_df.groupBy('StationName').mean().limit(5).show()

+--------------------+---------+------------------+----------------------+----------------+-------------+-------------------+
|         StationName|avg(pass)| avg(train_length)|avg(__index_level_0__)|    avg(Easting)|avg(Northing)|avg(RevisionNumber)|
+--------------------+---------+------------------+----------------------+----------------+-------------+-------------------+
|Basingstoke Rail ...|     NULL|              NULL|     47780.73333333333|        463774.0|     152529.0|                2.0|
|Lea Bridge Rail S...|     NULL|               5.0|              25004.75|        536176.0|     187123.0|                1.0|
|Birkenhead Centra...|     NULL|              NULL|              44661.65|        332205.0|     388427.0|                3.0|
|Wimbledon Rail St...|     NULL|              NULL|     43079.27472527473|524810.934065934|     170666.0|  2.065934065934066|
|Manchester Oxford...|     NULL|3.7142857142857144|              48600.25|        384035.0|     397505.0|                2.0|
+--------------------+---------+------------------+----------------------+----------------+-------------+-------------------+

In [ ]:
merged_df.groupBy('')