In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import DecimalType
import os

# Creating a SparkSession
# spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

spark = SparkSession \
    .builder \
    .appName("MySparkApp") \
    .config("spark.jars", "postgresql-42.7.3.jar") \
    .getOrCreate()

In [2]:
properties = {
    'HOSTNAME' : 'database-3.cfiq0ygikewk.us-east-2.rds.amazonaws.com',
    'PORT' : 5432,
    'DBNAME' : 'postgres',
    'USERNAME' : 'root',
    'PASS' : 'brianna123'
}

df = spark.read \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{properties['HOSTNAME']}:{properties['PORT']}/{properties['DBNAME']}") \
    .option("dbtable", "darwin") \
    .option("user", properties['USERNAME']) \
    .option("password", properties['PASS']) \
    .option("driver", "org.postgresql.Driver") \
    .load()

df.printSchema()

root
 |-- route_id: string (nullable = true)
 |-- unique_id: string (nullable = true)
 |-- service_start_date: date (nullable = true)
 |-- update_origin: string (nullable = true)
 |-- train_platform: string (nullable = true)
 |-- working_time_pass: timestamp (nullable = true)
 |-- working_time_arrival: timestamp (nullable = true)
 |-- working_time_departure: timestamp (nullable = true)
 |-- planned_time_arrival: timestamp (nullable = true)
 |-- planned_time_departure: timestamp (nullable = true)
 |-- actual_arrival_time: timestamp (nullable = true)
 |-- actual_departure_time: timestamp (nullable = true)
 |-- platform: string (nullable = true)
 |-- train_length: integer (nullable = true)
 |-- estimated_time: timestamp (nullable = true)
 |-- source: string (nullable = true)
 |-- actual_time: timestamp (nullable = true)
 |-- actual_time_class: string (nullable = true)
 |-- is_delayed_arrival: boolean (nullable = true)
 |-- is_delayed_departure: boolean (nullable = true)
 |-- source_instance: string (nullable = true)
 |-- estimated_time_minutes: integer (nullable = true)

## Read in Data

In [3]:
# read in data
# df = spark.read.parquet('rail_data_cleaned_20230728132300.parquet')
pandas_df = df.toPandas()
pandas_df

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,...,platform,train_length,estimated_time,source,actual_time,actual_time_class,is_delayed_arrival,is_delayed_departure,source_instance,estimated_time_minutes
0,202407087154582,G54582,2024-07-08,TD,CRSHLTN,NaT,1970-01-01 15:48:30,1970-01-01 15:49:30,1970-01-01 15:49:00,1970-01-01 15:49:00,...,1,8.0,NaT,None,NaT,None,False,False,None,NaN
1,202407086735809,C35809,2024-07-08,TD,BRMBRK,NaT,1970-01-01 14:50:00,1970-01-01 14:50:30,1970-01-01 14:50:00,1970-01-01 14:50:00,...,1,NaN,NaT,None,NaT,None,False,False,None,NaN
2,202407086785115,C85115,2024-07-08,TD,SLOUGH,NaT,1970-01-01 14:50:30,1970-01-01 14:51:30,1970-01-01 14:51:00,1970-01-01 14:51:00,...,5,NaN,NaT,None,NaT,None,False,False,None,NaN
3,202407087145471,G45471,2024-07-08,TD,OXFD,NaT,1970-01-01 14:51:30,1970-01-01 14:52:30,1970-01-01 14:52:00,1970-01-01 14:52:00,...,4,NaN,NaT,None,NaT,None,False,False,None,NaN
4,202407087661793,L61793,2024-07-08,TD,BNTFORD,NaT,1970-01-01 14:52:00,1970-01-01 14:53:00,1970-01-01 14:52:00,1970-01-01 14:53:00,...,2,NaN,NaT,None,NaT,None,False,False,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20641,202407097154341,G54341,2024-07-09,Darwin,STROOD,NaT,1970-01-01 19:57:30,1970-01-01 19:58:30,1970-01-01 19:58:00,1970-01-01 19:58:00,...,1,8.0,NaT,None,NaT,None,True,True,None,NaN
20642,202407097154341,G54341,2024-07-09,Darwin,RCHT,NaT,1970-01-01 20:01:00,1970-01-01 20:02:00,1970-01-01 20:01:00,1970-01-01 20:02:00,...,2,8.0,NaT,None,NaT,None,True,True,None,NaN
20643,202407097154341,G54341,2024-07-09,Darwin,CHATHAM,NaT,1970-01-01 20:04:30,1970-01-01 20:05:30,1970-01-01 20:05:00,1970-01-01 20:05:00,...,2,8.0,NaT,None,NaT,None,True,True,None,NaN
20644,202407097154341,G54341,2024-07-09,Darwin,GLNGHMK,NaT,1970-01-01 20:09:00,1970-01-01 20:10:30,1970-01-01 20:09:00,1970-01-01 20:10:00,...,3,8.0,NaT,None,NaT,None,True,True,None,NaN
20645,202407098094622,P94622,2024-07-09,TD,GRVSEND,NaT,1970-01-01 18:44:30,1970-01-01 18:45:30,1970-01-01 18:45:00,1970-01-01 18:45:00,...,1,6.0,NaT,None,NaT,None,False,False,None,NaN

In [4]:
# print rows with respective datatypes
df.printSchema()

root
 |-- route_id: string (nullable = true)
 |-- unique_id: string (nullable = true)
 |-- service_start_date: date (nullable = true)
 |-- update_origin: string (nullable = true)
 |-- train_platform: string (nullable = true)
 |-- working_time_pass: timestamp (nullable = true)
 |-- working_time_arrival: timestamp (nullable = true)
 |-- working_time_departure: timestamp (nullable = true)
 |-- planned_time_arrival: timestamp (nullable = true)
 |-- planned_time_departure: timestamp (nullable = true)
 |-- actual_arrival_time: timestamp (nullable = true)
 |-- actual_departure_time: timestamp (nullable = true)
 |-- platform: string (nullable = true)
 |-- train_length: integer (nullable = true)
 |-- estimated_time: timestamp (nullable = true)
 |-- source: string (nullable = true)
 |-- actual_time: timestamp (nullable = true)
 |-- actual_time_class: string (nullable = true)
 |-- is_delayed_arrival: boolean (nullable = true)
 |-- is_delayed_departure: boolean (nullable = true)
 |-- source_instance: string (nullable = true)
 |-- estimated_time_minutes: integer (nullable = true)

## Check for Duplicate Values/ Nulls

In [5]:
# find duplicate rows
df.groupBy(df.columns)\
    .count()\
    .where(F.col('count') > 1)\
    .select(F.sum('count'))\
    .show()

+----------+
|sum(count)|
+----------+
|       767|
+----------+

In [6]:
# drop duplicates
df = df.dropDuplicates()

In [7]:
# get a null count for all columns
Dict_Null = {col:df.filter(df[col].isNull()).count() for col in df.columns}
Dict_Null

{'route_id': 0,
 'unique_id': 0,
 'service_start_date': 0,
 'update_origin': 956,
 'train_platform': 0,
 'working_time_pass': 21131,
 'working_time_arrival': 0,
 'working_time_departure': 0,
 'planned_time_arrival': 1277,
 'planned_time_departure': 1290,
 'actual_arrival_time': 4334,
 'actual_departure_time': 1847,
 'platform': 843,
 'train_length': 12217,
 'estimated_time': 21131,
 'source': 21131,
 'actual_time': 21131,
 'actual_time_class': 21131,
 'is_delayed_arrival': 0,
 'is_delayed_departure': 0,
 'source_instance': 21131,
 'estimated_time_minutes': 21131}

In [8]:
# remove cols with too many null values
df.drop('working_time_pass')
df.drop('pass')
df.drop('train_length')

DataFrame[route_id: string, unique_id: string, service_start_date: date, update_origin: string, train_platform: string, working_time_pass: timestamp, working_time_arrival: timestamp, working_time_departure: timestamp, planned_time_arrival: timestamp, planned_time_departure: timestamp, actual_arrival_time: timestamp, actual_departure_time: timestamp, platform: string, estimated_time: timestamp, source: string, actual_time: timestamp, actual_time_class: string, is_delayed_arrival: boolean, is_delayed_departure: boolean, source_instance: string, estimated_time_minutes: int]

In [9]:
# drop rows with null values from the dataset
df = df.dropna(subset='planned_time_departure')
df = df.dropna(subset='update_origin')
df.count()

18888

In [ ]:
# pyspark value_counts
# get list of categorical var cols
categorical_columns = [c for c in df.columns if df.select(c).dtypes[0][1] == 'string']

# do a value counts for each categorical var
for col_name in categorical_columns:
    print(f"Unique values in {col_name}:")
    df.groupBy(col_name).count().show()

Unique values in route_id:
+---------------+-----+
|       route_id|count|
+---------------+-----+
|202407087661793|    1|
|202407087657787|   14|
|202407097138619|    6|
|202407096785250|    7|
|202407098098324|   22|
|202407097137183|    1|
|202407086746800|    2|
|202407086785944|    2|
|202407098079996|    1|
|202407088079987|    1|
|202407097642328|    7|
|202407096738868|    1|
|202407098085693|    8|
|202407086785223|    2|
|202407088081506|    2|
|202407097643141|    6|
|202407086738670|    1|
|202407098082883|    1|
|202407086784608|    2|
|202407088081956|    2|
+---------------+-----+
only showing top 20 rows

Unique values in unique_id:
+---------+-----+
|unique_id|count|
+---------+-----+
|   P97113|    5|
|   C47082|    2|
|   C35504|    1|
|   P95240|   17|
|   L42994|    4|
|   P85967|    2|
|   C17272|    5|
|   C85163|    5|
|   G38753|    7|
|   C76503|    2|
|   L68237|    1|
|   C48347|    5|
|   P96737|    2|
|   G45441|    2|
|   P93148|    2|
|   G44494|    1|
|   G40038|    6|
|   L60029|    1|
|   G54318|    6|
|   P95996|    4|
+---------+-----+
only showing top 20 rows

Unique values in update_origin:
+-------------+-----+
|update_origin|count|
+-------------+-----+
|           TD|10473|
|        Trust| 1944|
|       Darwin| 3669|
|       Tyrell|   22|
|          CIS| 2780|
+-------------+-----+

Unique values in train_platform:
+--------------+-----+
|train_platform|count|
+--------------+-----+
|       MRYLAND|   24|
|       SHENFLD|   11|
|       HOLTONH|    4|
|       RIDNGML|    1|
|       HEATHHL|    8|
|       MINFORD|    2|
|       CLFDOWN|    2|
|       HATHRSG|    1|
|       TURKYST|    2|
|          SABR|    3|
|       GOMSHAL|    4|
|          ELTR|   21|
|          DLTN|   10|
|       MCHYNLT|    1|
|          GTHM|   20|
|       SELLING|    6|
|        ELINTN|    2|
|       MEOLSCP|    1|
|       NBCKNHM|   23|
|       BROMLYS|   44|
+--------------+-----+
only showing top 20 rows

Unique values in platform:
+--------+-----+
|platform|count|
+--------+-----+
|       7|  152|
|      1A|    4|
|      15|   14|
|     12A|    1|
|      11|   32|
|     10A|    7|
|       3| 1490|
|      9D|    1|
|     BUS|    2|
|      1C|    6|
|      8D|    3|
|       8|  155|
|      3B|   17|
|      4B|   13|
|      7A|    3|
|      16|    8|
|       0|    3|
|    NULL|  305|
|      7B|    2|
|       B|  307|
+--------+-----+
only showing top 20 rows

Unique values in source:

## Merge Data with Rail References

In [ ]:
# import rail references and merge with api data
rail_ref = spark.read.csv('RailReferences.csv', header=True, inferSchema=True)
rail_ref.printSchema()

In [ ]:
# Merge both dfs for Station Name
merged_df = df.join(rail_ref, df['train_platform'] == rail_ref['TiplocCode'], how='left')
merged_df.count()

## Creating New Cols

In [ ]:
# create separate cols for date, time, hour
from pyspark.sql.functions import *
import datetime

#planned arrival
merged_df = merged_df.withColumn('planned_arrival_date', to_date(F.col('planned_time_arrival'), 'YYYY-mm-dd'))
merged_df = merged_df.withColumn('planned_arrival_hour', hour(F.col('planned_time_arrival')))

# planned departure
merged_df = merged_df.withColumn('planned_dep_date', to_date(F.col('planned_time_departure'), 'YYYY-mm-dd'))
merged_df = merged_df.withColumn('planned_dep_hour', hour(F.col('planned_time_departure')))

# actual arrival
merged_df = merged_df.withColumn('actual_arrival_date', to_date(F.col('actual_arrival_time'), 'YYYY-mm-dd'))
merged_df = merged_df.withColumn('actual_arrival_hour', hour(F.col('actual_arrival_time')))

# actual departure
merged_df = merged_df.withColumn('actual_dep_date', to_date(F.col('actual_departure_time'), 'YYYY-mm-dd'))
merged_df = merged_df.withColumn('actual_dep_hour', hour(F.col('actual_departure_time')))

# difference between planned and actual arrival time in minutes
merged_df = merged_df.withColumn('arrival_time_delayed_by', (unix_timestamp("actual_arrival_time") - unix_timestamp('planned_time_arrival'))/60)
merged_df = merged_df.withColumn('dep_time_delayed_by', (unix_timestamp("actual_departure_time") - unix_timestamp('planned_time_departure'))/60)

# create weekday var
merged_df = merged_df.withColumn('day_of_week', date_format(F.col('actual_dep_date'), 'EEEE'))


merged_df.select(F.col('arrival_time_delayed_by')).filter(F.col('arrival_time_delayed_by') > 0).orderBy('arrival_time_delayed_by', ascending=False).show()

## Describe/ Explore Data

In [ ]:
# Suggestions
# Merge the Station Rail Name Reference Table with the API data in order to provide more readable station names.
# How would you determine the top 10 most frequently visited stations in a day?
# What information can be explored to understand train delays?
# Are certain stations busier than others at certain times?

In [ ]:
# convert to pandas for additional exploration and visualization
pandas_df = merged_df.toPandas()

## Data Dict
- route_id: The unique identifier for each train route.
- unique_id: The unique identifier for each train
- service_start_date: The date when the train service for the particular route started.
- update_origin: Source or system from which the data was updated or retrieved.
- train_platform: The short name for a station where the train arrives and departs.
- working_time_pass: The planned or scheduled time for the train to pass a certain point or station.
- working_time_arrival: The planned or scheduled time for the train to arrive at a station.
- working_time_departure: The planned or scheduled time for the train to depart from a station.
- planned_time_arrival: The officially planned time for the train to arrive at a station. This could be the public-facing scheduled time.
- planned_time_departure: The officially planned time for the train to depart from a station. This could be the public-facing scheduled time.
- platform: The platform number at the station where the train arrives and departs.
- train_length: The physical length of the train. Number of cars.
- actual_arrival_time: The actual time when the train arrived at a station.
- actual_departure_time: The actual time when the train departed from a station.
- is_delayed_arrival: A boolean flag indicating whether the train arrived late
- is_delayed_departure: A boolean flag indicating whether the train departed late from a station.

In [ ]:
# compare planned arrival/ departure with actual
# comapre average delay
# delays by station, count is delayed
# look at timestamps for busiest stations
# look at delays during night vs morning
# col subtracting planned vs actual

In [ ]:
# create distributions 
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 6))
plt.hist(pandas_df['planned_dep_hour'])
plt.title('Distribution of departure hour')
plt.xlabel('departure hour')
plt.ylabel('Frequency')
plt.grid()
plt.show()

In [ ]:
# pie chart to show proportion of delays
# plt.figure(figsize=(8, 6))
# plt.pie(pandas_df['is_delayed_departure'])
# plt.title('Proportion of delays')
# plt.grid()
# plt.show()

In [ ]:
merged_df.groupBy('StationName').mean().limit(5).show()

In [ ]:
# create new df with route_id, unique_id, StationName, isDelayed
delayed_df = merged_df[['route_id', 'unique_id', 'StationName', 'is_delayed_arrival', 'is_delayed_departure']]
delayed_df.limit(5).show()

### Station with most delays

In [ ]:
delayed_df.filter(F.col('is_delayed_arrival') == True).groupBy('StationName', 'is_delayed_arrival').count().orderBy('count', ascending=False).show()
delayed_df.filter(F.col('is_delayed_departure') == True).groupBy('StationName', 'is_delayed_departure').count().orderBy('count', ascending=False).show()

In [ ]:
# find station with the greatest time delays

In [ ]:
pandas_df['StationName'] = pandas_df['StationName'].fillna(pandas_df['train_platform'])

In [ ]:
result =pandas_df.groupby('StationName')['dep_time_delayed_by'].sum().reset_index()
result = result.sort_values(by='dep_time_delayed_by', ascending=False)
result

## Questions:
- Which train stations have the most delays?
- Which has the longest delays?
- Are delays more frequent at certain times of the day?
- Total frequency of delays
- Correlation between delays and train length?

In [ ]:
result = pandas_df[pandas_df['is_delayed_departure'] == True].groupby('StationName')['is_delayed_departure'].count().reset_index()
result = result.sort_values(by='is_delayed_departure', ascending=False)
result

In [ ]:
pandas_df.info()

In [ ]:
delayed_df = pandas_df[pandas_df['is_delayed_departure'] == True]
delayed_df.head()

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(data=delayed_df, x='actual_dep_hour')
plt.title('Count of Delayed Departure by hour of day')
plt.xlabel('Actual Departure Hour')
plt.ylabel('Count of Delays')
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(data=delayed_df, x='actual_arrival_hour')
plt.title('Count of Delayed Arrival by hour of day')
plt.xlabel('Actual Arrival Hour')
plt.ylabel('Count of Delays')
plt.grid()
plt.show()

In [ ]:
pandas_df['is_delayed_departure'].value_counts()

In [ ]:
pandas_df['is_delayed_arrival'].value_counts()

In [ ]:
pandas_df['arrival_time_delayed_by'].value_counts()

In [ ]:
delayed_df[['day_of_week', 'planned_dep_date']].value_counts()

In [ ]:
weekday_df = delayed_df.groupby('day_of_week').count().reset_index()
weekday_df

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
sns.lineplot(data=weekday_df, x='day_of_week', y='route_id')
plt.title('Delays by Day of Week')
plt.xlabel('Day of Week')
plt.ylabel('Count of Delays')
plt.grid()
plt.show()

## Logistic Regression
predict if train will be delayed

In [ ]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression 
import pandas as pd 

# Assuming `pandas_df` is already defined and contains the necessary columns 
vars = pandas_df[['train_platform', 'planned_arrival_hour', 'planned_dep_hour', 'is_delayed_departure']].dropna() 
vars['is_delayed_departure'] = vars['is_delayed_departure'].astype('float') 
vars['planned_dep_hour'] = vars['planned_dep_hour'].astype('float') 

# One-hot encoding for the categorical 'platform' column 
vars = pd.get_dummies(vars, columns=['train_platform'], dtype='float')

# X = all columns except 'is_delayed_departure' 
X = vars.drop('is_delayed_departure', axis=1) 
y = vars['is_delayed_departure'] 

# Splitting the data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# Training the logistic regression model 
model = LogisticRegression(max_iter=10000) 
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))
classification_report(y_test, y_pred)